.yo{
    z-index: 99999;
    position: fixed;
    bottom: 32px;
    right: 32px;
    background: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:16px;
    border-radius: 12px;
    width: 480px;
  }

.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
    gap: 8px
}

.value{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    width: -webkit-fill-available;
}

.list{
    gap: 12px;
    flex-wrap: wrap;
}

.textbox{
    width: -webkit-fill-available;
    height: fit-content;
    min-height: 4em;
    background: white;
    border: 1px solid #bdbdbd;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    padding: 16px;
    resize: none;
}
