/* .step-form{
    z-index: 99999;
    position: fixed;
    bottom: 32px;
    right: 32px;
    background: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:16px;
    border-radius: 12px;
    width: 480px;
  } */

  .step-form {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:16px;
    position: fixed;
    background: white;
    padding: 16px;
    border-radius: 12px;
    width: 608px;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
    gap: 8px
}

.value{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fill-available;
}

.list{
    gap: 12px;
    flex-wrap: wrap;
}

.textbox{
    width: -webkit-fill-available;
    height: fit-content;
    min-height: 4em;
    background: white;
    border: 1px solid #bdbdbd;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    padding: 16px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.emoji-picker{
    height: 200px;
    overflow: scroll;
}

.emoji-chip >img{
    height: 2em;
    width: 2em;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 9998; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    backdrop-filter: blur(4px);

  }