@import url("https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  color: #fff;
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 4px;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.header-account {
  display: flex;
  gap: 6px;
  align-items: center;
}

.home-link {
  height: 24px;
  width: 24px;
}