.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 16px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 240px 240px;
    align-items: center;
    padding: 16px;
    background: #1c1c1c;
    border: 1px solid rgba(117, 117, 117, 0.4);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2), 0px 2px 21px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.card p {
    color: #fff;
}

.flow-name {
    font-size: 18px;
    font-weight: 600;
}

.flows-heading {
    border: none;
    box-shadow: none;
    background: none;
    padding: 0px 16px;
}

.flows-heading>p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
    margin-bottom: 4px;
}