.card-container{
    display: flex;
    justify-content: center;
    padding-top: 9rem;
    color: white;
    column-gap: 5rem;
}

.card:hover{
    cursor: pointer;
    border: 2px solid black;
}

.card{
    height: 12rem;
    width: 12rem;
    background: #11945714;
    display: inline-block;
    padding: 1rem;
}
