@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-component {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  background-color: #fff;
  gap: 16px;
  padding-top: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}