body {
  background: #141414;
  min-height: 100vh;
  min-width: 100vw;
}

.App {
  text-align: center;
  /* position: relative; */
  /* overflow: auto; */
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .actors {
  display: flex;
  direction: ltr;
  gap: 25px;
  scroll-snap-type: x mandatory;
  margin-top: 64px;
  padding-top: 16px;
} */

.actors {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
}

li {
  list-style-type: none;
}

.new_actor {
  cursor: pointer;
}

.new_actor:hover {
  opacity: 1;
}


.arrowGraphic {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.header {
  z-index: 98;
  background: #141414;
  /* background: linear-gradient(180deg, hsl(227, 59%, 16%) 90%, rgba(0, 212, 255, 0) 100%); */
  width: 100vw;
  position: fixed;
  top: 0;
}

.margin-left {
  margin-left: 1rem;
}

.arrow-message {
  color: white;
  margin: 0;
  padding: 0 20px;
}

.draggable-area {
  color: #111b41;
  cursor: default;
  width: 100%;
  z-index: 101;
}

.arrow-edit {
  right: calc(36px);
  top: calc(50% - 17px);
  position: absolute;
  display: flex;
  align-items: flex-end;
  gap: 6px;
  background-color: rgba(32, 32, 32, 0.9);
  padding: 4px 8px;
  border: radius 2px;
  border: 1px solid rgba(117, 117, 117, 0.4);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 2px 21px rgba(0, 0, 0, 0.2);
}

.arrow-emoji {
  font-size: 24px;
  margin: 0;
}

.add-step-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

input:focus::placeholder {
  color: transparent;
}

.svg-container {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0px;
  cursor: move;
  z-index: 101;
}

.ordering {
  position: relative;
  display: flex;
  width: auto;
  gap: 8px;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transform: translateY(42px);
}

.ordering:hover {
  opacity: 1;
  z-index: 999;
}

.ordering>button {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 16px;
  padding: 0;
}


.add-step-btn {
  width: fit-content;
  height: fit-content;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  text-align: center;
  background: #FAC748;
  color: #1D2F6F;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding: 1em;
  border-radius: 999px;
  line-height: 1;
  border: none;
}

.arrow-list-itme {
  width: 100vw;
  background-color: aliceblue;
  color: aquamarine;
  height: fit-content;
}

.arrow-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overflowthis {
  position: absolute;
  overflow: auto;
  width: 100vw;
  height: calc(100vh - 64px);
  margin-top: 64px;
  padding-top: 16px;
}

.actor-txt {
  z-index: 999;
}

.actors-container {
  width: max-content;
  position: relative;
}

.arrow-draggable {
  opacity: 0;
  background: rgba(0, 0, 0, 0.05);
}

.arrow-draggable:hover {
  opacity: 0.05;
  background: rgba(0, 0, 0, 0.1);
}

.svg-container .arrow-edit {
  visibility: hidden;
}

.svg-container:hover .arrow-edit {
  visibility: visible;
}