body{
  background: #1D2F6F;
}
.App {
  text-align: center;
  position: relative;
  overflow: auto;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-
 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.actors{
  display: flex;
  direction: ltr;
  gap:120px;
  scroll-snap-type: x mandatory;
}

li{
  list-style-type: none;
}

.new_actor{
  opacity: 0.5;
}


.arrowGraphic{
    width: 100vw;
    height: 100vh;
    position: relative;
    top:0;
    left: 0;
}

.header{
  z-index: 98;
  background: rgb(29,47,111);
  background: linear-gradient(180deg, rgba(29,47,111,1) 90%, rgba(0,212,255,0) 100%);
  width: 100vw;
  height: 130px;
  position: fixed;
}