body {
  background: #141414;
}

.App {
  text-align: center;
  /* position: relative; */
  /* overflow: auto; */
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App- {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.actors {
  display: flex;
  direction: ltr;
  gap: 25px;
  scroll-snap-type: x mandatory;
  padding-bottom: 10rem;
}

li {
  list-style-type: none;
}

.new_actor {
  cursor: pointer;
}

.new_actor:hover {
  opacity: 1;
}


.arrowGraphic {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.header {
  z-index: 98;
  background: #141414;
  /* background: linear-gradient(180deg, hsl(227, 59%, 16%) 90%, rgba(0, 212, 255, 0) 100%); */
  width: 100vw;
  height: 130px;
  position: fixed;
  top: 0;
}

.margin-left {
  margin-left: 1rem;
}

.arrow-message {
  color: white;
  margin: 0;
  padding: 0 20px;
}

.draggable-area {
  color: #111b41;
  cursor: default;
  background: azure;
  width: 100%;
  z-index: 101;
}

.arrow-edit {
  width: fit-content;
  right: 30px;
  top: 0;
  position: absolute;
}

.arrow-emoji {
  font-size: 24px;
  margin: 0;
}

.add-step-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

input:focus::placeholder {
  color: transparent;
}

.svg-container {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0px;
  cursor: move;
  z-index: 101;
}

.ordering {
  position: relative;
  display: flex;
  width: auto;
  gap: 8px;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transform: translateY(42px);
}

.ordering:hover {
  opacity: 1;
  z-index: 999;
}

.ordering>button {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 16px;
  padding: 0;
}


.add-step-btn {
  width: fit-content;
  height: fit-content;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  text-align: center;
  background: #FAC748;
  color: #1D2F6F;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding: 1em;
  border-radius: 999px;
  line-height: 1;
  border: none;
}

.arrow-list-itme {
  width: 100vw;
  background-color: aliceblue;
  color: aquamarine;
  height: fit-content;
}